<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_todo_root"
              name="Todo List"
              sequence="10"/>

    <menuitem id="menu_todo_all"
              name="Todo List"
              parent="menu_todo_root"
              action="todo_list.action_todo_list_all"
              sequence="1"/>
</odoo>